# Ignore all m5out directories and build directories
**/m5out/
**/checkpoint/

# Jekyll stuff
_site/
.sass-cache/
Gemfile.lock

typings/

# .vscode stuff
.vscode/*.log

__pycache__

# Ignore downloaded files
square
vmlinux-gpu-ml-isca
x86-ubuntu-gpu-ml-isca
x86-ubuntu-gpu-ml-isca.gz

# Ignore slides
*.pdf
*.html

build/

*.DS_Store
